<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chi tiết phòng</title>
    <script src="/home/js/data.js"></script>
    <script type="module" src="/admin/js/roomDetail.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    {{! <style>
      body { font-family: sans-serif; margin: 20px; } .back-btn { margin-top:
      20px; padding: 8px 16px; background: #ddd; border-radius: 6px; cursor:
      pointer; } .back-btn:hover { background: #ccc; }
    </style> }}
  </head>
  <body>
    <div id="roomDetailContainer"></div>
  </body>
</html>